<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{text.kb}">Hello world ! ! !</title>
    <script src="js/changeLang.js"></script>
</head>
<body>
<div th:replace="fragments :: language"></div>
<br>
<H1 th:text="#{text.kb}">hello world</H1>

<div>
    <span id="userGratis"></span>
</div>
    <br>
    <br>
    <div th:each="kb: ${kbs}">
        <input type="text" th:value="${kb.getId()}" name="kbId" hidden>
        <span th:text="${kb.getCourseDtoC().getName()}"></span><br>
        <span th:text="${kb.getUserKnowlegeBase().getName()}"></span>
        <span> </span>
        <span th:text="${kb.getUserKnowlegeBase().getLast()}"></span><br>
        <span th:text="${kb.getLocalDate()}"></span><br>
        <span th:text="${kb.getText()}"></span><br>

        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/kbdelete/{id}(id=${kb.getId()})}" th:text="#{button.delete}"></a>
        <a th:href="@{/getkbfile/{id}(id=${kb.getId()})}" th:text="#{kb.file}"></a>
    </div>
</body>
</html>