<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World !!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments::language}"></div>
<div>
    <form method="get">
        <label>Role:
            <select name="role">
                <option th:each="r : ${roles}"
                        th:selected="${role} == ${r.name()}"
                        th:value="${r.getName()}"
                        th:text="${r.name()}"></option>
            </select>
        </label><br>
        <label>FIO:
            <input type="text" name="fio" th:value="${fio}"/>
        </label><br>
        <label>BlockList:
            <input type="checkbox" name="blocklist"/>
        </label><br>

        <label for="view">Показать на странице: </label>
        <input type="text" name="view" id="view" th:value="${view}"><br>

        <label for="page">Page</label>
        <input type="number" id="page" name="page" th:value="${page}" th:min="1" th:max="${pages}"><br>
        <span>Всего страниц: </span><span th:text="${pages}"></span><br>

        <input type="submit">
    </form>

    <p>Страницы :</p>
    <span th:each="i : ${#numbers.sequence(1, pages)}"
          th:text="' ' + ${i} + ' '"></span>

    <p th:each="login : ${allLogins}"
       th:text="${login.getEmail()} + ' ' + ${login.getPassword()} + ' ' +
       ${login.getRole()} + ' ' + ${login.getId()}"></p>

</div>
</body>
</html>